---
import {
    AGE,
    AVATAR_URL,
    NAME,
    NICK,
    LOCATION,
    OCCUPATION,
    LINKEDIN_STATUS,
    LINKEDIN_URL,
    GITHUB_URL,
    CV_URL,
    ABOUT,
} from "../constants";

const lang = Astro.url.pathname.split("/")[1] || "en";
---

<section id="about">
    <div class="main-info">
        <div class="image-container">
            <img src={AVATAR_URL} alt="Profile Picture" />
        </div>
        <div class="info-container">
            <div class="primary-info">
                <h2 class="name">{NAME}</h2>
            </div>
            <div class="secondary-info">
                <span class="nick">@{NICK}</span>
                <span class="age">| {AGE}</span>
            </div>
        </div>
    </div>
    <div class="tags">
        <div class="tag">
            <img class="tag-image" src="/assets/gps.svg" alt="GPS Icon" />
            <span>{LOCATION[lang]}</span>
        </div>
        <div class="tag">
            <img class="tag-image" src="/assets/code.svg" alt="Dev Icon" />
            <span>{OCCUPATION[lang]}</span>
        </div>
        <div class="tag">
            <a
                class="tag-image"
                href={GITHUB_URL}
                target="_blank"
                rel="noopener noreferrer"
            >
                <i class="devicon-github-original"></i>
            </a>
            <a
                class="tag-image"
                href={LINKEDIN_URL}
                target="_blank"
                rel="noopener noreferrer"
            >
                <i class="devicon-linkedin-plain"></i>
            </a>
        </div>
    </div>
    <div class="about-content">
        <p>{ABOUT.p1[lang]}</p>
        <p>{ABOUT.p2[lang]}</p>
        <p>{ABOUT.p3[lang]}</p>
    </div>
    <div class="work-status">
        <div class="status-badge">
            <span class="status-color"></span>
            <span>{LINKEDIN_STATUS.status[lang]}</span>
        </div>
        <a
            class="connect-link"
            href={LINKEDIN_URL}
            target="_blank"
            rel="noopener noreferrer"
            >{LINKEDIN_STATUS.button[lang]}
        </a>
    </div>
</section>

<style>
    section {
        padding-top: calc(var(--header-height) + 100px);
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .main-info {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 2rem;
        margin-bottom: 1rem;
    }

    .image-container {
        width: 100%;
        max-width: 100px;
        height: 100%;
        max-height: 100px;
        border-radius: 50px;
        overflow: hidden;
        box-shadow: 0 0 10px rgb(255, 255, 255);
        

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .info-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 0.75rem;

        .secondary-info {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 0.5rem;
        }
    }

    .name {
        font-weight: bold;
    }

    .nick {
        color: var(--accent-color);
    }

    .age {
    }

    .tags {
        margin-top: 1rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 0.75rem;
    }

    .tag {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 0.5rem;

        .tag-image {
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-size: 23px;
            transition: all 0.3s;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        a.tag-image:hover {
            filter: drop-shadow(0 0 7px var(--accent-color-hover));
        }
    }

    .about-content {
        margin-top: 3rem;
        width: 100%;
        letter-spacing: 1px;
        line-height: 1.6;
    }

    p {
        margin-bottom: 0.5rem;
    }

    .work-status {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
        margin-top: 1rem;

        .status-badge {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 0.5rem;
            padding: 0 15px;
            border-radius: 25px;
            background-color: #111;
            box-shadow: 0 0 5px rgb(0, 128, 0);

            .status-color {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: rgb(0, 128, 0);
            }
        }

        .connect-link {
            padding: 0 15px;
            color: white;
            border-radius: 25px;
            border: 1px solid var(--accent-color);
            transition: background-color 0.3s;

            &:hover {
                background-color: var(--accent-color-hover);
            }
        }
    }
</style>
