---
import Card from "./Card.astro";

const { title, data } = Astro.props;
const lang = Astro.url.pathname.split("/")[1] || "en";
---

<section id={title["en"].toLowerCase()}>
    <h1>{title[lang]}</h1>
    <div class="projects">
        {
            data.map((item, index) => (
                <Card
                    key={index}
                    title={item.title}
                    description={item.description[lang]}
                    tags={item.tags}
                    url={item.url}
                    target={item.target}
                    image={item.image}
                />
            ))
        }
    </div>
</section>

<style>
    section {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
    }

    .projects {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
</style>
