---
import { SOCIAL_MEDIA } from "../constants";
import SocialCard from "./SocialCard.astro";
import ProjectCard from "./ProjectCard.astro";
---

<section id="contact">
    <h1>Contact</h1>
    <div class="contact-links">
        { SOCIAL_MEDIA.map((elem) => 
            <ProjectCard 
                title={elem.title}
                description={elem.description}
                link={elem.link}
                icon={elem.icon}
                tags={elem.tags}
                image={elem.image}
            />
        )}
    </div>
</section>

<style>
    section {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
    }

    .contact-links {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
</style>
