---
import ProjectCard from "./ProjectCard.astro";

import { PROJECTS } from "../constants";
---

<section id="projects">
    <h1>Projects</h1>
    <div class="projects">
        {
            PROJECTS.map((project, index) => (
                <ProjectCard
                    key={index}
                    title={project.title}
                    description={project.description}
                    tags={project.tags}
                    url={project.url}
                    target={project.target}
                    image={project.image}
                />
            ))
        }
    </div>
</section>

<style>
    section {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
    }

    .projects {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
</style>
