---
const { title, description, url, tech, image } = Astro.props;
---

<a class="project" target="_blank" href={url}>
    <div class="image-content">
        <img src={image} alt={title} />
    </div>
    <div class="text-content">
        <h2>{title}</h2>
        <p>{description}</p>
        <div class="tags">
            {
                tech.map((tag: unknown) => (
                    <span class="tag">{tag}</span>
                ))
            }
        </div>
    </div>
</a>

<style>
    .project {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        padding: 10px;
        gap: 20px;
        border-radius: 5px;
        border: 1px solid var(--border-color);
        background-color: var(--bg-color);
        box-shadow: 0 0 5px rgba(53, 53, 53, 0.2);
        transition: border-color 0.3s;

        &:hover {
            border-color: var(--accent-color);
        }
    }

    .image-content {
        width: 20%;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 60%;
            height: auto;
            filter: drop-shadow(0 0 5px rgba(182, 182, 182, 0.5));
        }
    }

    .text-content {
        width: 80%;

        h2 {
            font-size: 20px;
            margin-bottom: 10px;
        }

        p {
            font-size: 14px;
            margin-bottom: 10px;
        }

        .tags {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            gap: 10px;
            margin-bottom: 10px;
        }
    }
</style>
